.title {
  text-align: center;
  color: lightgray;
}
.title:hover {
  color: white;
}
.container {
  padding: 8px;
  max-width: auto;
  margin: auto;
  background-color: #06283d;
}
.footer {
  margin-top: 50px;
}
