.container {
  padding: 8px;
  max-width: auto;
  margin: auto;
  background-color: #256d85;
}

.list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.item {
  color: white;
  margin: 0px 16px;
}
.item:hover {
  color: lightgray;
}

.item:active {
  color: lightgray;
}
