.container {
  padding: 8px;
  max-width: auto;
  background-color: #06283d;
}

.list {
  list-style: none;
  display: flex;
}
.listh {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.item {
  color: white;
  margin: 0px 16px;
}
.item:hover {
  color: lightgray;
}

.item:active {
  color: lightgray;
}

.h3 {
  color: white;
  margin: 0px 16px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .h3 {
    margin-left: 0px;
    position: left;
  }
  .listh {
    justify-content: space-between;
  }
}
